
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Nunito:wght@200;300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500&display=swap')

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;

}

:root{
    --text-color: #f5f5f5;
    --hover-color: #ff8c00;
    --bg-color: #787c6e;
    --second-bg-color: #2d2b27;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #ff5a00;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}
.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--hover-color);
}
.navlist{
    display: flex;
    list-style: none;

}
.navlist a{
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    
}
.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(255,103,0,0.6),
    0 0 30px rgba(255,103,0,0.6),
    0 0 40px rgba(255,103,0,0.6),
    0 0 70px rgba(255,103,0,0.6),
    0 0 80px rgba(255,103,0,0.6),
    0 0 100px rgba(255,103,0,0.6),
    0 0 150px rgba(255,103,0,0.6);
    
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--second-bg-color);
}